*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body
{
	background-image: url(../img/18.jpg);
	background-color: gray;
	font-family:Roboto;
}
.main
{
	width: 95%;
	display: flex;
	max-width: 1000px;
	margin: auto;
	background-color: white;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
	flex-wrap: wrap;
}
.img
{
	max-height: 265px;
	max-width: 490px;
	width: calc(50% - 10px);
	height: calc(95vw / 2 / 16 *9);
	margin: 5px;
	background-color: pink;
	background-position: center;
	background-size: cover;
	transition: all 0.5s ease;
	
}
h1
{
	width: 100%;
	text-align:center ;
	font-size:50px ;
	color: red;
}
.img1{
	background-image: url(../img/1.jpeg);
}
.img2{
	background-image: url(../img/2.jpeg);
}
.img3{
	background-image: url(../img/3.jpeg);
}
.img4{
	background-image: url(../img/4.jpeg);
}
.img5{
	background-image: url(../img/5.jpeg);
}
.img6{
	background-image: url(../img/6.jpeg);
}
.img7{
	background-image: url(../img/7.jpeg);
}
.img8{
	background-image: url(../img/8.jpeg);
}
.img9{
	background-image: url(../img/9.jpeg);

}
.img10{
	background-image: url(../img/10.jpeg);
}
.img11{
	background-image: url(../img/11.jpeg);
}
.img12{
	background-image: url(../img/12.jpeg);
}
.img13{
	background-image: url(../img/13.jpeg);
}
.img14{
	background-image: url(../img/14.jpeg);
}
.img15{
	background-image: url(../img/15.jpeg);
}
.img16{
	background-image: url(../img/16.jpg);
}
@font-face{
   	font-family:Roboto;
        src: url(../fonts/Roboto-Regular.ttf);
}
.img:hover{
	transform: rotate(3deg)scale(1.07);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
}